{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/styleslogin.css' %}">
    <link rel="icon"
        href="{% static 'images/Mochi_Maior_2.png' %}">
</head>
<body>
    <button class="botaohome" onclick="location.href='../'"><img src="{% static 'images/home.png' %}"></button>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <hr>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="usuario">Usuário</label>
            <input type="usuario" placeholder="Digite seu nome de Usuário" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua Senha" />
            <a href="{% url 'password_reset' %}">Esqueci minha Senha</a>  
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
    
</body>
</html>