{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/Mochi_Maior_2.png' %}">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/styleslogin.css' %}">
</head>
<body>
    <button class="botaohome" onclick="location.href='../../'"><img src="{% static 'images/voltar.png' %}"></button>
    <div class="page">
        <form method="POST" action="{% url 'login' %}" class="formLogin">
            {% csrf_token %}
            <h1>Login</h1>
            <hr>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <br>
            {{ form.as_p }}
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>
</body>
</html>
