{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/Mochi_Maior_2.png' %}">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'styles/stylesregister.css' %}">
</head>
<body>
    <button class="botaohome" onclick="location.href='../../'"><img src="{% static 'images/voltar.png' %}"></button>
    <div class="page">
        <form method="POST" action="{% url 'register' %}" class="formRegister">
            {% csrf_token %}
            <h1>Cadastre-se</h1>
            <br>
            <div class="form-group">
                <label for="id_username">Usuário</label>
                <br>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password1">Senha</label>
                <br>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="id_password2">Confirme sua Senha</label>
                <br>
                {{ form.password2 }}
            </div>
            <hr>
            <input type="submit" value="Cadastrar" class="btn" />
        </form>
    </div>
</body>
</html>
