{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/Mochi_Maior_2.png' %}">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'styles/stylesregister.css' %}">
</head>
<body>
    <button class="botaohome" onclick="location.href='../../'"><img src="{% static 'images/home.png' %}"></button>
    <div class="page">
        <form method="POST" action="{% url 'register' %}" class="formRegister">
            <h1>Cadastre-se</h1>
            {% csrf_token %}
            <br>
            {{ form.as_p }}
            <hr>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <input type="submit" value="Cadastrar" class="btn" />
        </form>
    </div>
</body>
</html>
